**
!Dockerfile.langflow
!pyproject.toml
!constraints-tested.txt
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!licenses/
!licenses/**
!src/
!src/**
**/__pycache__/
**/*.pyc

!setup.py
!release-resources.json
!CITATION.cff
!skills/
!skills/**
!docs/
!docs/**
!examples/
!examples/**
!deploy/
!deploy/**
**/__pycache__/
**/*.pyc

!.gitignore
!references/
!references/Graph_Extraction_Strcutured_Output.json
!references/ontology.py
!references/structured_output_model.py
